/* Buttons */
button[mega_act] {
    height: 40px;
    font-size: 16px;
    line-height: 1px;
}
  
.btn {
    &.mega-act {
      height: 40px;
      font-size: 16px;
      line-height: 1.2;
    }
}

button[megaWeb].btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
        &:hover {
            background-color: #b1314f;
        }
        &:active {
            background-color: #a12a45;
        }
}
  
.btn-icon-primary {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    color: $primary;
    height: calc(0.3rem + 1em + 2px);
    width: calc(0.3rem + 1em + 2px);
    padding: 0;
}
.btn-icon-dark {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    color: $body-color;
    height: calc(0.3rem + 1em + 2px);
    width: calc(0.3rem + 1em + 2px);
    padding: 0;

    :hover {
        background-color: $secondary-bg-fresh;
        padding: 0.65rem 0.7rem;
        border-radius: 50rem;
    }
}

.custom-close-btn {
    font-size: 20px !important;
    
}