/* Layout */

#m-layout {
display: block;
@media (min-width: 768px) {
    display: none;
}
}

#d-layout {
display: none;
@media (min-width: 767.99px) {
    display: block;
}
}

.w-sm-lg-100 {
@media (min-width: 768px) {
    width: 100%;
}
@media (min-width: 767.99px) {
    width: 50%;
}
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.w-full {
    width: 100%;
}

/* form-check */
///////////////
.form-check-input {
    margin-top: 0 !important;
  }

/* menu link items */
///////////////
.item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    img {
        margin-right: 0.3rem;
        width: 25px;
    }
}