//Theme Color
$primary: #c23656;
$secondary: #cb954b;
$success: #42cca4;
$info: #5a4180;
$warning: #7f4573;
$danger: #3c61aa;
$primary-light: #f69ba0;
$secondary-light: #cc9a56;
$success-light: #a6f4dc;
$info-light: #ab93e5;
$warning-light: #ce84c7;
$danger-light: #829ee3;
$primary-bg-fresh: #fee7e7;
$secondary-bg-fresh: #fff6e6;
$success-bg-fresh: #e3fff2;
$info-bg-fresh: #efebfe;
$warning-bg-fresh: #fff0fe;
$danger-bg-fresh: #eff4fd;
$body-bg: #fbfaf7;
$body-color: #495057;
$body-bg-gray: #f0efefb6;
$body-light: #fcfcfc;
$navbar-color: #c4c2d0;
$navbar-bg: #f4e7cf;
$dropdown-bg: #f7f8fc;
$dropdown-hover: #e2ebff;
$btn-primary: #ed787e;
$btn-secondary: #cc9a56;
$btn-success: #62ddb9;
$btn-info: #785bbb;
$btn-warning: #a265c6;
$btn-danger: #829ee3;
$gray-800: #696e74;
$gray-600: #989ea5;
$gray-400: #fce9e9c7;
$primary-800: #de6269;
$primary-600: #ed787e;
$primary-400: #ffe0e0;
$secondary-800: #d49c4f;
$secondary-600: #e3b26d;
$success-800: #7bd9c4;
$success-600: #a6f4dc;
$info-800: #49376d;
$info-600: #755e98;
$warning-800: #79416d;
$warning-600: #934f84;
$danger-800: #485d93;
$danger-600: #6a80b7;
$danger-400: #b0d0f7;
$table-muted: #8392abca;
$secondary-color: #a3a3a3;
$border-color: #ced4da;