/* Navbar */
.nav-tabs {
  border: 0px;
}
.nav-tabs .nav-link {
  border: 0px;
}

.nav-border-bottom .nav-link {
  border-bottom: 5px solid transparent;
  padding: 20px;
  font-size: 1rem;
}

.nav-border-bottom .nav-link.active {
  border-bottom-color: #cb954b;
}

.tabs-secondary .nav-link.active {
  color: #cb954b;
}

.nav.nav-pills {
  border-radius: 10px;
  position: relative;
}
.nav.nav-pills .nav-link {
  border-radius: 0px;
  color: #495057;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.nav.nav-pills .nav-item {
  z-index: 3;
}

.nav.nav-pills .nav-link.active {
  animation: 0.2s ease;
}

.nav-secondary .nav-link.active {
  color: #fff;
  background-color: #d49c4f;
  border-radius: 5px;
}

.nav-secondary.nav-tabs-custom .nav-link.active {
  color: #cb954b;
  background-color: var(--vz-secondary-bg);
}
.nav-secondary.nav-tabs-custom .nav-link.active::after {
  background-color: #cb954b;
}

.nav-tabs-custom .nav-item .nav-link::after {
  height: 4px;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 576px) {
  .nav .nav-link {
    font-size: 18px;
  }
  .m-flex-column {
    flex-direction: column !important;
  }
}
@media (max-width: 767px) {
  .topnav-hamburger {
    display: none;
  }
  .navbar-toggler {
    display: inline-block;
    margin-left: 1em;
  }
}
.offcanvas-header {
  padding-bottom: 0;
}

.offcanvas-body.navbar-menu {
  width: 400px;
  z-index: 1002;
  background: var(--vz-vertical-menu-bg);
  border-left: 1px solid var(--vz-vertical-menu-border);
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  box-shadow: var(--vz-vertical-menu-box-shadow);
  padding: 0 0 95px 0;
  transition: all 0.1s ease-out;
}

.offcanvas .navbar-nav .nav-link i {
  display: inline-block;
  min-width: 1.75rem;
  font-size: 1.20375rem;
  line-height: inherit;
}

.offcanvas .navbar-menu .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.5rem;
  font-size: 1.20375rem;
}

/* Dropdown */
.dropdown .notice-popup {
  position: absolute;
  background-color: #f7f8fc;
  width: 430px;
  box-shadow: 0 0 15px 4px rgba(100, 98, 92, 0.06);
  z-index: 1000;
  border-radius: 0px 0px 20px 20px;
  padding: 24px;
  top: 15px;
}
.dropdown .notice-popup .title {
  display: flex;
  align-items: center;
}
.dropdown .notice-popup .title span {
  width: 50%;
}
.dropdown .notice-popup .data-today {
  color: #cb954b;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}
.dropdown .notice-popup .data-today::before {
  font-family: "FontAwesome";
  content: "\f133";
  font-size: 14px;
  line-height: 20px;
  margin-right: 0.3rem;
}
.dropdown .notice-popup .notice-data-list {
  margin-top: 15px;
}
.dropdown .notice-popup .data-area {
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(100, 98, 92, 0.06);
}
.dropdown .notice-popup .data-area .data-cont {
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}
.dropdown .notice-popup .data-area .data-cont.no-data {
  text-align: center;
}
.dropdown .notice-popup .data-area .data-cont.no-data i {
  font-size: 50px;
  color: #d8ac7c;
  margin: 0 auto;
}
.dropdown .notice-popup .data-area .data-cont.no-data p {
  margin: 0 auto;
  font-weight: bold;
}
.dropdown .notice-popup .data-area .data-time {
  margin-top: 0.1rem;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #d8ac7c;
  font-weight: 600;
  padding: 0px 15px;
}
.dropdown .notice-popup .data-area .data-time i {
  font-weight: 600;
  font-size: 14px;
  margin-right: 0.3rem;
}
.dropdown .notice-popup .data-area .data-time span::before {
  font-family: "FontAwesome";
  content: "\f017";
  font-size: 16px;
  line-height: 20px;
  margin-right: 0.3rem;
}

.member-popup {
  position: absolute;
  background-color: #f7f8fc;
  width: 200px;
  box-shadow: 0px 0px 15px 0px rgba(217, 217, 217, 0.7137254902);
  z-index: 1000;
  letter-spacing: 1px;
  border-radius: 0px 0px 20px 20px;
  padding: 24px 0px;
  top: 5px;
  right: 0;
}
.member-popup .dropdown-header {
  display: block;
  padding: 0 1.2rem;
  margin-bottom: 0px;
  color: #cb954b;
  letter-spacing: 1px;
  font-size: 18px;
}
.member-popup .dropdown-header p {
  margin-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 0.5rem;
  color: #495057;
  font-weight: 400;
  border-bottom: 1px solid rgba(217, 217, 217, 0.7137254902);
}
@media (min-width: 768px) {
  .member-popup .dropdown-header {
    display: none;
  }
}
.member-popup .mb-dropdown-item {
  display: block;
  padding: 0.8rem 1.2rem;
  clear: both;
  color: #495057;
  font-size: 16px;
  font-weight: bold;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.member-popup .mb-dropdown-item:hover {
  background-color: #e2ebff;
  color: #495057;
}
.member-popup .mb-dropdown-item i {
  margin-right: 0.25rem;
  font-size: 18px;
  vertical-align: middle;
}
.member-popup .mb-dropdown-item span {
  vertical-align: middle;
}

/* Sidebar */
.user-data {
  margin: 0.5rem 1.2rem 1.5rem 1.2rem;
  border-bottom: 8px solid transparent;
  -o-border-image: linear-gradient(0.25turn, rgb(118, 57, 153), rgb(194, 54, 86));
     border-image: linear-gradient(0.25turn, rgb(118, 57, 153), rgb(194, 54, 86));
  border-image-slice: 1;
  text-align: center;
}

.sidebar-username {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

[data-sidebar-size=sm] .user-data {
  display: none;
}

@media (max-width: 499px) {
  #navbar-nav > .nav-item {
    font-size: 1.05rem;
  }
  .sidebar-username {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 499.1px) {
  .sidebar-username {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
.sidebar-account {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 1rem;
}

/* offcanvas */
.brand-logo {
  padding: 20px 24px;
}

/* Components */
.link-primary {
  color: #de6269;
}

.link-secondary {
  color: #cb954b;
}
.link-secondary :hover {
  color: #e3b26d;
}
.link-secondary :focus {
  color: #d49c4f;
}

.link-success {
  color: #7bd9c4;
}

.link-info {
  color: #49376d;
}

.link-warning {
  color: #79416d;
}

.link-danger {
  color: #485d93;
}

.bg-transaction {
  background-image: url(../img/ebba-img-3.png);
  background-size: cover;
}

.bg-soft-primary {
  background-color: #fee7e7;
}

.bg-soft-secondary {
  background-color: #fff6e6;
}

.bg-soft-warning {
  background-color: #fff0fe;
}

.bg-soft-light {
  background-color: rgba(255, 255, 255, 0.287) !important;
}

.bg-primary-liner {
  background-image: linear-gradient(to right, rgba(237, 120, 126, 0.7254901961) 0%, rgba(255, 211, 213, 0.7215686275) 90%);
}

.bg-card-circle {
  background-image: url("../img/ebba-img-4.png");
  background-size: cover;
}

.primary {
  background-color: #fee7e7;
}
.primary a {
  color: #495057;
}
.primary i {
  color: #f69ba0;
}

.secondary {
  background-color: #fff6e6;
}
.secondary a {
  color: #495057;
}
.secondary i {
  color: #d49c4f;
}

.success {
  background-color: #e3fff2;
}
.success a {
  color: #495057;
}
.success a.btn {
  color: #42cca4;
}
.success a.btn:hover {
  color: #fff;
}
.success i {
  color: #42cca4;
}

.info {
  background-color: #efebfe;
}
.info a {
  color: #495057;
}
.info i {
  color: #755e98;
}

.warning {
  background-color: #fff0fe;
}
.warning a {
  color: #495057;
}
.warning i {
  color: #934f84;
}

.danger {
  background-color: #eff4fd;
}
.danger a {
  color: #495057;
}
.danger i {
  color: #6a80b7;
}

.chart-first,
.text-primary {
  color: #de6269 !important;
}

.chart-second,
.text-secondary {
  color: #d49c4f !important;
}

.chart-third,
.text-success {
  color: #ffe0e0 !important;
}

.chart-forth,
.text-info {
  color: #755e98 !important;
}

.chart-fifth {
  color: #ab93e5 !important;
}

.text-warning {
  color: #79416d !important;
}

.text-card-muted {
  color: #888;
}

.ribbon-box.right .ribbon-primary {
  background: #c23656;
}
.ribbon-box.right .ribbon-primary.ribbon-shape::before {
  border-right-color: #c23656;
  border-top-color: #c23656;
}
.ribbon-box.right .ribbon-primary.ribbon-shape::before {
  border-right-color: #c23656;
  border-top-color: #c23656;
}
.ribbon-box.right .ribbon-primary::before {
  border-color: transparent;
}
.ribbon-box.right .ribbon-warning {
  background: #79416d;
}
.ribbon-box.right .ribbon-warning.ribbon-shape::before {
  border-right-color: #79416d;
  border-top-color: #79416d;
}
.ribbon-box.right .ribbon-warning.ribbon-shape::before {
  border-right-color: #79416d;
  border-top-color: #79416d;
}
.ribbon-box.right .ribbon-warning::before {
  border-color: transparent;
}
.ribbon-box.right .ribbon-danger {
  background: #485d93;
}
.ribbon-box.right .ribbon-danger.ribbon-shape::before {
  border-right-color: #485d93;
  border-top-color: #485d93;
}
.ribbon-box.right .ribbon-danger.ribbon-shape::before {
  border-right-color: #485d93;
  border-top-color: #485d93;
}
.ribbon-box.right .ribbon-danger::before {
  border-color: transparent;
}

/* Layout */
#m-layout {
  display: block;
}
@media (min-width: 768px) {
  #m-layout {
    display: none;
  }
}

#d-layout {
  display: none;
}
@media (min-width: 767.99px) {
  #d-layout {
    display: block;
  }
}

@media (min-width: 768px) {
  .w-sm-lg-100 {
    width: 100%;
  }
}
@media (min-width: 767.99px) {
  .w-sm-lg-100 {
    width: 50%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-full {
  width: 100%;
}

.form-check-input {
  margin-top: 0 !important;
}

.item {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.item img {
  margin-right: 0.3rem;
  width: 25px;
}

/* Container */
.chartjs-chart {
  max-height: 250px;
}

.lastday {
  vertical-align: baseline;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .lastday {
    padding: 0;
    margin-bottom: 0.5rem;
  }
}
.banner-index {
  position: relative;
  display: flex;
  border-radius: 0.75rem;
  background: linear-gradient(117deg, rgb(190, 206, 247) 10%, rgb(255, 243, 226) 100%);
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
  overflow: hidden;
}
.banner-index h4 {
  padding: 1rem;
  font-size: 1.25rem;
}
.banner-index i {
  color: #3c61aa;
  font-size: 1.675rem;
  margin-top: 0.1em;
}

@media (min-width: 1800.98px) {
  .banner-index {
    display: none;
  }
}
.growth {
  background: url(../img/img_growth.png);
  background-repeat: no-repeat;
  background-position: right 5% top -10%;
}

ul[mega_act] .list-group-item {
  border-width: 0;
}
ul[mega_act]:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.stock-in-ani {
  width: 40px;
}
.stock-in-ani i {
  display: inline;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
}
.stock-in-ani i[cartadded] {
  display: none;
}
.stock-in-ani:hover {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #ed787e;
}
.stock-in-ani:hover i {
  display: none;
}
.stock-in-ani:hover i[cartadded] {
  display: inline;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  color: #ed787e;
}

.signCenter {
  border-radius: 0.75rem;
  padding: 1rem;
}
.signCenter .option-title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #495057;
}
.signCenter .option-title img {
  margin-right: 0.3rem;
  width: 25px;
}
.signCenter .option-title p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
.signCenter .card-footer {
  display: none;
}

.dateArea {
  padding: 15px 0px;
  border: 1px solid #ececec;
  border-radius: 0.25rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  color: #c23656;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5rem;
}

.error-border {
  border: 1px solid #c23656;
}

.entrust-title,
.exchange-title {
  padding: 10px;
}

@media (max-width: 767px) {
  .entrust-title,
  .exchange-title {
    padding: 0px;
  }
  .user-num,
  .stock-num {
    margin-top: 0.5rem;
  }
}
.adv-card-bg {
  background-color: #fff5e2;
  border-radius: 0.5rem;
}

.idText {
  color: #3c61aa;
}

.feeColor {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  border: #3c61aa 1px solid !important;
  padding: 0.3px 5px;
  background-color: #3c61aa;
}

.amountColor {
  color: #3c61aa;
  font-size: 16px;
  font-weight: 900;
}

.input-step.inputAdjust {
  height: 40px;
  width: 150px;
}

.m-card-flag-ftp {
  bottom: 3rem;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
}

.m-card-flag-fbt {
  bottom: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
}

.m-card-link-ftp {
  bottom: 3rem;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
}

.unres-check-card {
  border: 1px solid #ffe0e0;
  border-radius: 0.5rem;
}
.unres-check-card .card-header {
  display: flex;
  align-items: center;
  border-color: #ffe0e0;
  background-color: #ffe0e0;
  border-radius: 0.25rem 0.25rem 0 0;
}
.unres-check-card .card-header .avatar-title {
  background-color: #fff;
}
.unres-check-card .card-header .avatar-title span {
  color: #495057;
}
.unres-check-card .card-header .h4 {
  color: #495057;
}

.unres-return-card {
  border: 1px solid #42cca4;
  border-radius: 0.5rem;
}
.unres-return-card .card-header {
  display: flex;
  align-items: center;
  border-color: #42cca4;
  background-color: #42cca4;
  border-radius: 0.25rem 0.25rem 0 0;
}
.unres-return-card .card-header .avatar-title {
  background-color: #fff;
}
.unres-return-card .card-header .avatar-title span {
  color: #42cca4;
}
.unres-return-card .card-header .h4 {
  color: #fff;
}

/* Collapse */
.toggle-btn {
  font-weight: normal;
}
.toggle-btn i {
  color: #989ea5;
  font-size: 12px;
  margin-left: 0.35rem;
}

[aria-expanded=false] .open {
  display: inline;
}
[aria-expanded=false] .close {
  display: none;
}

[aria-expanded=true] .open {
  display: none;
}
[aria-expanded=true] .close {
  display: inline;
  transition: 0.65s all ease-in-out;
}

/* Buttons */
button[mega_act] {
  height: 40px;
  font-size: 16px;
  line-height: 1px;
}

.btn.mega-act {
  height: 40px;
  font-size: 16px;
  line-height: 1.2;
}

.btn-icon-primary {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  color: #c23656;
  height: calc(0.3rem + 1em + 2px);
  width: calc(0.3rem + 1em + 2px);
  padding: 0;
}

.btn-icon-dark {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  color: #495057;
  height: calc(0.3rem + 1em + 2px);
  width: calc(0.3rem + 1em + 2px);
  padding: 0;
}
.btn-icon-dark :hover {
  background-color: #fff6e6;
  padding: 0.65rem 0.7rem;
  border-radius: 50rem;
}

/* Cards */
.mega-c-link {
  color: #495057;
  font-size: 14px;
}

.mega-c-title {
  padding: 0.8rem 1rem;
  position: relative;
}
.mega-c-title.success {
  color: #42cca4;
  background-color: #e3fff2;
}
.mega-c-title.info {
  color: #5a4180;
  background-color: #efebfe;
}
.mega-c-title.danger {
  color: #3c61aa;
  background-color: #eff4fd;
}
.mega-c-title.light {
  color: #ed787e;
  background-color: rgba(252, 233, 233, 0.7803921569);
}

.card-link {
  color: #495057;
}
.card-link:hover {
  color: #cb954b;
}

.card-primary {
  position: relative;
  background-color: #ffe0e0;
  display: flex;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}
.card-primary .card-header {
  color: #495057;
  background-color: transparent;
}
.card-primary a, .card-primary:link {
  color: #fff;
}

.card-secondary {
  position: relative;
  background-color: #fff5e2;
  display: flex;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}
.card-secondary .card-header {
  color: #495057;
  background-color: transparent;
}
.card-secondary a, .card-secondary:link {
  color: #fff;
}

.card-info {
  position: relative;
  background-color: #f6f3fe;
  display: flex;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}
.card-info .card-header {
  color: #495057;
  background-color: transparent;
}
.card-info a, .card-info:link {
  color: #fff;
}

.card-warning {
  position: relative;
  background-color: #ffe6ff;
  display: flex;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}
.card-warning .card-header {
  color: #495057;
  background-color: transparent;
}
.card-warning a, .card-warning:link {
  color: #fff;
}

.card-danger {
  position: relative;
  background-color: #eff4fd;
  display: flex;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}
.card-danger .card-header {
  color: #495057;
  background-color: transparent;
}
.card-danger a, .card-danger:link {
  color: #fff;
}

.card-white {
  position: relative;
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  padding: 0.7rem 1.05rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}

.loanCard {
  font-size: 1.25rem;
  font-weight: 500;
}
.loanCard .loanImg {
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 0.7rem;
  padding: 10px 10px 0px 10px;
  background-image: linear-gradient(to right, rgba(237, 120, 126, 0.7254901961) 0%, rgba(255, 211, 213, 0.7215686275) 90%);
  border-radius: 10px;
  vertical-align: text-bottom;
}
.loanCard .btn {
  padding: 0.7rem;
  font-size: 1.09375rem;
  border-radius: 0.25rem;
}
.loanCard .btn i {
  font-size: 1.95rem;
}

@media (max-width: 767px) {
  .loanCard .card-img-top {
    width: 100px;
  }
  .loanCard {
    margin-bottom: 0.55rem !important;
    display: flex !important;
    align-items: center;
    flex-direction: row;
  }
  .loanCard .loanImg {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
    flex-shrink: 0 !important;
    background-color: #ed787e;
    border-radius: 13px;
    flex: none;
  }
  .loanCard .loan-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    flex-grow: 1 !important;
  }
  .loanCard .btn {
    font-size: 0.85rem;
  }
}
.signCard {
  font-size: 1.25rem;
  font-weight: 500;
}
.signCard .signImg {
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 0.7rem;
  padding: 10px 10px 0px 10px;
  background-image: linear-gradient(to right, rgba(130, 158, 227, 0.7254901961) 0%, rgba(182, 202, 255, 0.7215686275) 90%);
  border-radius: 10px;
  vertical-align: text-bottom;
}
.signCard .btn {
  padding: 0.7rem;
  font-size: 1.09375rem;
  border-radius: 0.25rem;
}
.signCard .btn i {
  font-size: 1.95rem;
}

@media (max-width: 767px) {
  .signCard .card-img-top {
    width: 100px;
  }
  .signCard {
    margin-bottom: 0.55rem !important;
    display: flex !important;
    align-items: center;
    flex-direction: row;
  }
  .signCard .signImg {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
    flex-shrink: 0 !important;
    border-radius: 13px;
    flex: none;
  }
  .signCard .sign-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    flex-grow: 1 !important;
  }
  .signCard .btn {
    font-size: 0.85rem;
  }
}
.advCard {
  font-size: 1.25rem;
  font-weight: 500;
}
.advCard .advImg {
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 0.7rem;
  padding: 10px 10px 0px 10px;
  background-image: linear-gradient(to right, #e1b070 0%, #f6cc94 80%);
  border-radius: 10px;
}
.advCard .adv-title span {
  color: #495057;
}
.advCard .btn {
  font-size: 1.09375rem;
  border-radius: 0.25rem;
}
.advCard .btn i {
  font-size: 1.95rem;
}

@media (max-width: 767px) {
  .advCard .card-img-top {
    width: 100px;
  }
  .advCard {
    margin-bottom: 0.55rem !important;
    display: flex !important;
    align-items: center;
    flex-direction: row;
  }
  .advCard .advImg {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
    flex-shrink: 0 !important;
    border-radius: 13px;
    flex: none;
  }
  .advCard .adv-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    flex-grow: 1 !important;
  }
  .advCard .adv-title span {
    color: #495057;
  }
  .advCard .btn {
    font-size: 0.85rem;
  }
}
.nameCard {
  margin-bottom: 0.55rem;
  color: #495057;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: none;
}
.nameCard .n-title {
  font-size: 1.25rem;
  font-weight: 700;
}
.nameCard .employImg {
  margin-left: auto !important;
  margin-right: auto !important;
  background-image: linear-gradient(to right, #e1b070 0%, #f6cc94 80%);
  border-radius: 50%;
}
.nameCard .employ-Name {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
.nameCard .employ-phone {
  font-size: 0.85rem;
  margin-bottom: 0;
  font-weight: normal;
}
.nameCard .Location {
  font-size: 0.85rem;
  font-weight: 600;
}
.nameCard .btn {
  padding: 0.7rem 1.4rem;
  font-size: 1.09375rem;
  border-radius: 0.3rem;
}

.otherCard {
  margin-bottom: 0.55rem !important;
}
.otherCard .otherImg {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0.3rem;
  background-color: #f7f7f6;
  border-radius: 7px;
}
.otherCard .otherImg i {
  color: #cb954b;
}
.otherCard .otherTitle {
  font-size: 1.05rem;
  font-weight: 500;
  margin-left: 1rem;
}
.otherCard a i {
  font-size: 1.55rem;
  color: #495057;
}

.moreCard {
  cursor: pointer;
  margin-bottom: 0.55rem !important;
}
.moreCard .moreIcon i {
  font-size: 1.75rem;
  color: #cb954b;
}
.moreCard .moreTitle {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}
.moreCard i {
  font-size: 1.55rem;
  color: #495057;
}

.serviTitle {
  margin-bottom: 0.65rem;
  font-size: 1.1rem;
}

.investmentService {
  position: relative;
  display: block;
  background-color: #ffe0e0;
}
.investmentService .investmentTitle {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.futuresService {
  position: relative;
  display: block;
  background-color: #d9e7f8;
}
.futuresService .futuresTitle {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.m-card {
  position: relative;
  display: flex;
  border-radius: 0.75rem;
  padding: 0.8rem;
  margin-bottom: 0.75rem;
  flex-direction: column;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(56, 65, 74, 0.06);
}

/* Accordion */
.accordion-mega .accordion-button {
  background-color: #f7f8fc;
  color: #485d93;
}
.accordion-mega .accordion-button::after {
  color: #485d93;
}

/* Badge */
.badge-border {
  border-left: 5px solid;
}

.badge-primary {
  color: #c23656;
  background-color: #ffe0e0;
}

.badge-success {
  color: #67b108;
  background-color: #cdf59b;
}

.badge-secondary {
  color: #cb954b;
  background-color: #fff5e2;
}

.badge-info {
  color: #8a70d6;
  background-color: #f6f3fe;
}

.badge-warning {
  color: #5974a2;
  background-color: #e4e8ed;
}

.badge-danger {
  color: #3c61aa;
  background-color: #eff4fd;
}

.badge-cancelled {
  color: #d2d8df;
  background-color: #f6f9fd;
}

/* Table */
.table-nowrap th,
.table-nowrap td {
  white-space: nowrap;
}

table [data-qtvalue],
[data-charge],
[data-extrafee] {
  font-weight: bold;
}
table [data-qtvalue]::before,
[data-charge]::before,
[data-extrafee]::before {
  content: "NTD";
  font-size: 14px;
  line-height: 20px;
  margin-right: 0.1rem;
}

[data-chargedate] span {
  font-size: 14px;
}

.table-btn {
  margin: 1.55rem 0;
}

.table-footer-cta {
  padding: 1rem;
}/*# sourceMappingURL=mega.css.map */